*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #080710;

}

.background2 {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background2 .shape2 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape2:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape2:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

.form2 {
  height: 580px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.user2 {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social2 {
  margin-top: 30px;
  display: flex;
}

.social2 div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social2 div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social2 .fb2 {
  margin-left: 25px;
}

.social2 i {
  margin-right: 4px;
}


.footerContainer2{
    display: flex;
}

.footer2{
    display: flex;
    justify-content: start;
    margin: 20px 10px;
}

.signUp2{
    display: flex;
    margin:20px 3px;
    color: #fbfbfb;
    font-weight: 900;
    text-decoration: none;

}


.signUp2:hover {
    color: #176ef1;
  }

  
  