
@import "../../styles/responsive.scss";



.Container {
    display: grid;
    gap: 10px;
    grid-template-columns:1fr 1fr; 
    grid-template-rows:minmax(80px,auto);
    grid-gap:15px;



.title {
    grid-column:span  2/3;
    margin: 25px 5px;
    font-size: 25px;
    font-weight: bold;

    @include lg{
        grid-column: 1/3;
        grid-row:span 2;
    }

}



.categories {
    grid-column: 2/3;
    grid-row: span 3;

      
    @include lg{
        grid-column: 1/3;
        grid-row:span 3;
    }

}

.totalIncome {
    grid-column: 1/3;
    grid-row:span 1;
    display: flex;
    margin-bottom: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 1px -1px 6px 1px rgba(197, 189, 197, 0.81);
    -moz-box-shadow: 1px -1px 6px 1px rgba(211, 200, 211, 0.81);
    box-shadow: 1px -1px 6px -3px rgba(209, 199, 209, 0.81);

    @include md{
        grid-column: 1/2;
        grid-row:span 3;
    }
        
    @include lg{
        grid-column: 1/3;
        grid-row:span 3;
    }

    span:nth-child(1){
        font-size: 23px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        padding: 3px;


    }
    span:nth-child(2){
        font-size: 25px;
        text-wrap:nowrap;
        color: rgb(42, 226, 0);
        font-weight: 700;
        padding: 8px;
    }

}



 .inputContainer{
        grid-column: 1/2;
        grid-row:span 3;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        gap: 15px;
        padding: 12px;
        margin-right: 10px;

        @include md{
            grid-column: 1;
            grid-row:span 3;
        }
            
        @include lg{
            grid-column: 1/3;
            grid-row:span 3;
        }
       
        .titleInput {
            padding: 5px;
            margin-top: 12px;
            text-wrap:nowrap;
            font-size: 22px;
            color: rgb(244, 247, 244);
            font-weight: 500;
            text-decoration: underline; 
            text-transform: uppercase; 
            letter-spacing: 1px;
            line-height:0; 
            font-style: italic;
        }

        .input1::placeholder{
            color: rgb(0, 0, 0);
        
        }
        
        .input1:nth-child(4){
            display: flex;
            align-self: end;
            width: 125px;
            
        }  

      
    
        .input1:nth-child(5)::placeholder {
            font-size: 15px;
        }
         
    .input1{
        text-wrap: wrap;
        border-radius: 7px;
        padding: 10px;
      
    }




    }

    .buttonCheck{
        display: flex;
        justify-content: start;
    
        button{
        border: none;
        text-decoration: none;
        margin-top: 10px;
        color: white;
        padding: 5px;
        font-weight: bold;
        background-color: rgb(246, 87, 87);
        border-radius: 10px;
        }

        button:hover {
            background-color: rgb(238, 2, 2);
        }

    }
  
    .formIncome{
    margin-top: 35px;
    display: flex;
    height:100%;
    flex-direction: column;
    position: relative;
    gap:10px;
    }


}
