.historyContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;

.top{
    display: flex;
    justify-content: start;

    .histSpan{
        display: flex;
        justify-content:start;
        margin: 0px ;
        text-wrap: nowrap;
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    }
.titleHist{
    display: flex;
    justify-content: space-between;
    margin: 15px;

    .categorie{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pret{
        display: flex;
        align-items: center;
        justify-content: start;
    }


}

.groupHistory{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        flex-direction: column;
        align-items: start;
        width: 100%;
        justify-content: center;
        gap:25px;
        padding: 5px;
    }

    .ist{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 0.5px solid white;
        border-radius: 5px;
    }

   
    span{
        font-weight: bold;
        text-wrap: nowrap;
        padding:5px;
        margin: 0px 30px;
    }


    .ist {
        /* Stilurile comune pentru fiecare înregistrare din istoric */
      }
      
      .red {
        :nth-child(1){
            color: white;
        }
        :nth-child(2){
            color: red;
        }
      }
      
      .green {
        :nth-child(1){
            color: white;
        }
        :nth-child(2){
            color: rgb(25, 242, 25);
        }

      }

      
}