
@import "../../../styles/responsive.scss";



.Container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;  
    grid-template-rows: minmax(100px, auto);


    .top {
        display: flex;
        padding: 10px;
        gap: 15px; 

        @include md {
            flex-direction: column;
        } 
    }

.title {
    margin: 10px 5px;
    font-size: 25px;
    font-weight: bold;

    @include lg{
        grid-column: 1/3;
        grid-row:span 2;
    }
    @include sm{
      font-size: 20px;
      margin-left: 20px;
    }

}



.categories {
    grid-column: 2/3;
    grid-row: span 3;

      
    @include lg{
        grid-column: 1/3;
        grid-row:span 3;
    }

}

.totalIncome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    flex-grow: 1;
    margin:0;
    
    @include md{
        margin-left: 50px;
    }
        
    @include lg{
        display: flex;
    }

    span:nth-child(1){
        display: flex;
        font-size: 23px;
        color: rgb(81 90 116 / 80%);
        font-weight: 700;
        padding: 3px;


    }
    span:nth-child(2){
        font-size: 25px;
        text-wrap:nowrap;
        color: rgb(42, 226, 0);
        font-weight: 700;
        padding: 8px;
    }

}

.allInMiddle {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;  
    gap: 10px;  
    padding: 6px;
    background-color: white;


    @include sm {
        grid-template-columns: 1fr;
    }
    @include md {
        grid-template-columns: 1fr;   
    }
    @include lg {
        grid-template-columns: 1fr;   
    }
}

 .inputContainer{
        grid-column: 1/2;
        grid-row:span 2;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        gap: 15px;
        padding: 12px;
        margin-right: 10px;
      
        @include md{
            grid-column: 1/-1;
            grid-row:span 2;
        }
            
        @include lg{
            grid-column: 1/2;
            grid-row:span 2;
        }
       
        .titleInput {
            padding: 5px;
            margin-top: 12px;
            text-wrap:nowrap;
            font-size: 22px;
            color: rgb(51, 156, 51);
            font-weight: 500;
            text-transform: uppercase; 
            letter-spacing: 1px;
            font-style: italic;
        
            @include sm{
                font-size: 16px;
                text-wrap: nowrap;
                color: rgb(244, 247, 244);
                padding: 2px;
            }
        
        }

        
        .input1:nth-child(4){
            display: flex;
            align-self: end;
            width: 125px;   
        }  

      //border for income   
    .input1{
        border: none;
        box-shadow: 1px 1px 5px 1px rgba(157,157,157,0.65);
        -webkit-box-shadow: 1px 1px 5px 1px rgba(157,157,157,0.65);
        -moz-box-shadow: 1px 1px 5px 1px rgba(157,157,157,0.65);
        text-wrap: wrap;
        border-radius: 7px;
        padding: 10px;
        outline-color: rgb(154, 185, 232);
      
        }
    }
 
    .formIncome{
    margin-top: 35px;
    display: flex;
    height:100%;
    flex-direction: column;
    position: relative;
    gap:10px;
    
    }

    .buttonCheck{
        display: flex;
        justify-content: start;
    
        button{
        border: none;
        text-decoration: none;
        margin-top: 10px;
        color: white;
        padding: 5px;
        font-weight: bold;
        background-color: rgb(246, 87, 87);
        border-radius: 10px;
        }

        button:hover {
            background-color: rgb(238, 2, 2);
        }

    }
 
}
