.navbar{
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: space-between;


.center{
    display: flex;
    gap: 45px;

    .sign{
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .login{
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
 }


.icons{
    display: flex;
    gap:20px;


    .user{
        display: flex;
        align-items: center;
        gap: 7px;

        img{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            object-fit: cover;
        }
        


    }


}



}








