
@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.navbar{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $soft-bg;
.center{
    display: flex;
    gap: 55px;
    
    
    .sign{
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .login{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    
  .sign,.login{
    @include md{
      display: none;
    }
  }
}

.logo{
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    gap: 10px;
 }


.icons{
    display: flex;
    gap:20px;
    
    .csv{
      display: flex;
      align-items: center;
    }

    .user{
        display: flex;
        align-items: center;
        gap: 15px;

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          text-wrap: nowrap;
          gap: 8px;
        }

        .sign{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }

        .log{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }

        img{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

  }


  //navbar

    .header{
      border-bottom: 1px solid #E2E8F0;
  }
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
  }


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #e1e0ec;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}




@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
}


    







}








