.chart{
    padding: 5px;
    border-radius: 5px;


    .top{
       display: flex;
       justify-content: start;
       margin-bottom: 28px;
       color: rgb(255, 255, 255);
        }

    .bottom{
        display: flex;
        flex-direction: column;
        padding: 7px;
        
    
    }
 

}